<a href="https://colab.research.google.com/github/HandersonAbreu/projetoUni9/blob/main/ProjetoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TADS
##Uni9
###Turma 17
##Planejamento em Informática 
###Participantes:
Cleber José Lacerda dos Santos
R.A.: 3020110612
cleberjds27@gmail.com

Everton Luis de Oliveira Penha
R.A.: 3020109891
evertonn.luis@uni9.edu.br

Lucas Campos Silva
R.A.: 3020103477
lucascampossilva15@uni9.edu.br

Lucas Dias dos Santos
R.A.: 3020102319
lucas_dias_santos@uni9.edu.br

Handerson Clemente de Abreu
R.A.: 3020106969
handerson.abreu@uni9.edu.br

Otávio Lima dos Santos 
R.A.: 3020107397
otaviootata@hotmail.com

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [14]:
df = pd.read_csv('/content/dados/ocorrencia.csv', delimiter=';', on_bad_lines='skip')

In [ ]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,06/01/2012,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,06/01/2012,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO

In [5]:
aeronave = pd.read_csv('/content/dados/aeronave.csv')